@model IEnumerable<Tarea02.Models.pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Peliculas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-dark table-striped table-bordered">
    <tr>
        <th class="thead-dark">
            @Html.DisplayNameFor(model => model.nombre_pelicula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_pelicula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estudio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
